version: '3.8'

services:
  # Nginx с статическими файлами Next.js
  nginx:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: casino-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/logs:/var/log/nginx
    networks:
      - casino-network
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s

networks:
  casino-network:
    driver: bridge
